<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>css/js</title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-fonts.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace.min.css}" id="main-ace-style"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-fileupload.min.css}"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/css/ace-part2.min.css}"/>
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->
    <script th:src="@{/js/ace-extra.min.js}"></script>
    <!--[if lte IE 8]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

</head>
</html>

