<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="templates/layout" >
<head th:include="layout :: htmlhead" >
    <meta charset="utf-8"/>
</head>
<body class="no-skin">
    <section layout:fragment="content">
        <div class="main-content">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/twms/index">系统首页</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">用户管理</a>
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <!-- /section:settings.box -->
                <div class="page-content-area">


                    <div class="row" style="padding-top: 10px;">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="table-header" style="font-size: x-large;">
                                        用户信息管理
                                    </div>
                                    <div style="padding-bottom: 10px;padding-top: 10px;text-align: center">
                                        <label style="font-size: large;padding-bottom: 5px;padding-left: 20px;">查询用户：</label>
                                        <select class="" id="form-field-select-1" style="height: 35px;margin-left: 10px;">
                                            <option value="">请选择查询条件
                                            </option>
                                            <option value="AL">按姓名查找
                                            </option>
                                            <option value="AK">按员工编号查找
                                            </option>
                                        </select>
                                        <span class="input-icon">
                                                            <input type="text" placeholder="请输入关键字 ..."
                                                                   class="nav-search-input" id="nav-search-input"
                                                                   autocomplete="off"/>
                                                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                                                            </span>
                                        <input type="submit" value="搜索"
                                               class="btn btn-sm btn-primary"
                                               id="searchUser"/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#modal-table" role="button" class="btn btn-sm btn-primary" data-toggle="modal">添加用户</a>
                                    </div>

                                    <div class="table-responsive">

                                        <table id="sample-table-2"
                                               class="table table-striped table-bordered table-hover">
                                            <thead >
                                            <tr >
                                                <th class="center">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace"/>
                                                        <span class="lbl"></span>
                                                    </label>
                                                </th>
                                                <th class="center">编号</th>
                                                <th class="center">姓名</th>
                                                <th class="center">性别</th>
                                                <th class="center">班组</th>
                                                <th class="center">角色</th>
                                                <th class="center">密码</th>
                                                <th class="center">操作</th>
                                            </tr>
                                            </thead>

                                            <tbody class="center">
                                            <tr>
                                                <td class="center">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace"/>
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>

                                                <td>037667</td>
                                                <td>李元海</td>
                                                <td>男</td>
                                                <td>变频一班</td>
                                                <td>普通员工</td>
                                                <td>111111</td>
                                                <td>
                                                    <button class="btn btn-xs btn-info">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-xs btn-danger">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <div class="modal-footer no-margin-top">

                                            <ul class="pagination pull-right no-margin">
                                                <li class="prev disabled">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>

                                                <li>
                                                    <a href="#">2</a>
                                                </li>

                                                <li>
                                                    <a href="#">3</a>
                                                </li>

                                                <li class="next">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div id="modal-table" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                添加用户
                                            </div>
                                        </div>

                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form">
                                                <!-- #section:elements.form -->
                                                <div class="form-group" style="padding-top: 10px;padding-left: 120px;">
                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 编号：</label>

                                                    <div class="col-sm-9">
                                                        <input type="text" id="form-field-1" placeholder="请输入用户编号" class="col-xs-10 col-sm-5" />
                                                    </div>
                                                </div>

                                                <div class="form-group" style="padding-left: 120px;">
                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">姓名： </label>

                                                    <div class="col-sm-9">
                                                        <input type="text" id="form-field-1-1" placeholder="输入用户姓名" class=" col-xs-10 col-sm-5" />
                                                    </div>
                                                </div>

                                                <!-- /section:elements.form -->
                                                <div class="space-4"></div>

                                                <div class="form-group" style="padding-left: 120px;">
                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">密码： </label>

                                                    <div class="col-sm-9">
                                                        <input type="text" id="form-field-2" placeholder="输入用户密码" class="col-xs-10 col-sm-5" />
                                                    </div>
                                                </div>

                                                <div class="space-4"></div>

                                                <div class="form-group" style="padding-left: 120px;">
                                                    <label class="col-sm-3 control-label no-padding-right">性别： </label>

                                                    <div class="radio" >
                                                        <label>
                                                            <input name="form-field-radio" type="radio" class="ace" />
                                                            <span class="lbl"> 男</span>
                                                        </label>
                                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                                        <input name="form-field-radio" type="radio" class="ace" />
                                                        <span class="lbl"> 女</span>
                                                    </div>
                                                </div>

                                                <div class="space-4"></div>

                                                <div class="form-group" style="padding-left: 120px;">
                                                    <label class="col-sm-3 control-label no-padding-right">班组：</label>

                                                    <div class="col-sm-9">
                                                        <!-- #section:plugins/bootstrap.typeahead-js -->
                                                        <div class="pos-rel">
                                                            <select class="form-control" style="width: 135px;" id="">
                                                                <option value="">请选择所属班组</option>
                                                                <option value="AL">未提交</option>
                                                                <option value="AK">已提交</option>
                                                                <option value="AZ">待审核</option>
                                                                <option value="AR">审核通过</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group" style="padding-left: 120px;">
                                                    <label class="col-sm-3 control-label no-padding-right">角色：</label>

                                                    <div class="col-sm-9">
                                                        <!-- #section:plugins/bootstrap.typeahead-js -->
                                                        <div class="pos-rel">
                                                            <select class="form-control" style="width: 135px;" id="">
                                                                <option value="">请选择用户角色</option>
                                                                <option value="AL">普通员工</option>
                                                                <option value="AK">仓库管理员</option>
                                                                <option value="AZ">超级管理员</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group" style="padding-left: 120px;">
                                                    <label class="col-sm-3 control-label no-padding-right">批量导入：</label>

                                                    <div class="col-sm-9">
                                                        <div class="pos-rel">
                                                            <div class="fileupload fileupload-new" data-provides="fileupload" style="display: block;">
                                                             <span class="btn btn-file btn-primary" style="height: 35px;font-size: small;">
                                                                 <span class="fileupload-new ">选择文件</span>
                                                                 <span class="fileupload-exists">更改文件</span>
                                                                 <input type="file" name="file" />
                                                             </span>
                                                                <span class="fileupload-preview"></span>
                                                                <a href="#"
                                                                   class="close fileupload-exists"
                                                                   data-dismiss="fileupload"
                                                                   style="float: none">x</a>
                                                                <input type="submit" class="btn btn-sm btn-primary" value="确认上传" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="clearfix form-actions">
                                                    <div class="col-md-offset-3 col-md-9" style="margin-left: 100px;">
                                                        <button class="btn btn-info" type="button">
                                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                                            提交
                                                        </button>

                                                        &nbsp; &nbsp; &nbsp;
                                                        <button class="btn" type="reset">
                                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                                            重置
                                                        </button>

                                                        &nbsp; &nbsp; &nbsp;
                                                        <button class="btn btn-danger bigger-110"
                                                                data-dismiss="modal">
                                                            <i class="ace-icon fa fa-times"></i>
                                                            关闭
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </section>

</body>
<script type="text/javascript">
    jQuery(function($) {

        $(".tbl-search").click(function(){
            $(".table-responsive").slideDown("fast");
        })

        var oTable1 =
            $('#sample-table-2')
                .dataTable( {
                    bAutoWidth: false,
                    bInfo:flase,
                    "aoColumns": [
                        { "bSortable": false },
                        null,
                        null,
                        null,
                        null,
                        null,
                        { "bSortable": false },
                        null,
                        { "bSortable": false }
                    ],
                    "aaSorting": [],
                } );

        $(document).on('click', 'th input:checkbox' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function(){
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });
        });




    })

</script>
</html>

